---
apiVersion: v1
kind: ConfigMap
metadata:
  name: kyverno-env-values
  namespace: kyverno
data:
  values.yaml: |
    admissionController:
      replicas: 2
    backgroundController:
      replicas: 1
    reportsController:
      replicas: 1
