---
apiVersion: v1
kind: ConfigMap
metadata:
  name: monitoring-env-values
  namespace: monitoring
data:
  values.yaml: |
    prometheus:
      prometheusSpec:
        replicas: 1
    grafana:
      replicas: 1
      persistence:
        enabled: false
      initChownData:
        enabled: false
    alertmanager:
      alertmanagerSpec:
        replicas: 1
