---
apiVersion: v1
kind: ConfigMap
metadata:
  name: openbao-env-values
  namespace: openbao
data:
  values.yaml: |
    server:
      dev:
        enabled: true
        devRootToken: "root"
      ha:
        enabled: false
      standalone:
        enabled: false
      service:
        type: ClusterIP
