---
- name: Restart rke2-server
  ansible.builtin.systemd:
    name: rke2-server
    state: restarted

- name: Restart NetworkManager
  ansible.builtin.systemd:
    name: NetworkManager
    state: restarted
