---
apiVersion: v1
kind: ConfigMap
metadata:
  name: openbao-env-values
  namespace: openbao
data:
  values.yaml: |
    server:
      dev:
        enabled: true
      ha:
        enabled: false
      dataStorage:
        enabled: false
      service:
        type: NodePort
        nodePort: 30200
