---
# RKE2 agent prerequisites

- name: Install required packages
  ansible.builtin.dnf:
    name:
      - container-selinux
      - iptables
      - NetworkManager
    state: present

- name: Create RKE2 config directory
  ansible.builtin.file:
    path: /etc/rancher/rke2
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: Ensure NetworkManager does not manage Canal/Flannel interfaces
  ansible.builtin.copy:
    content: |
      [keyfile]
      unmanaged-devices=interface-name:cali*;interface-name:flannel*;interface-name:vxlan.calico;interface-name:wireguard.cali
    dest: /etc/NetworkManager/conf.d/rke2-canal.conf
    owner: root
    group: root
    mode: "0644"
  notify: Restart NetworkManager
