---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "sre-web-app.fullname" . }}
  labels:
    {{- include "sre-web-app.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.app.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "sre-web-app.selectorLabels" . | nindent 4 }}
