---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - helmrelease.yaml
  - grafana-datasource.yaml
  - network-policies/default-deny.yaml
  - network-policies/allow-tempo.yaml
